<link rel="stylesheet" href="../css/admin.css">
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1> Welcome Administrator</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h5> Please see the below calender to view all the days your staff is working</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table>
        <thead>
          <tr>
            <th>
              <span class="long">Monday</span>
              <span class="short">Mon</span>
            </th>
            <th>
              <span class="long">Tuesday</span>
              <span class="short">Tue</span>
            </th>
            <th>
              <span class="long">Wendsday</span>
              <span class="short">Wed</span>
            </th>
            <th>
              <span class="long">Thursday</span>
              <span class="short">Thur</span>
            </th>
            <th>
              <span class="long">Friday</span>
              <span class="short">Fri</span>
            </th>
            <th>
              <span class="long">Saturday</span>
              <span class="short">Sat</span>
            </th>
            <th>
              <span class="long">Sunday</span>
              <span class="short">Sun</span>
            </th>
          </tr>
        </thead>
        <tbody>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div>
        <button type="submit" class="btn btn-info mx-auto save">Save</button>
      </div>
    </div>
  </div>
</div>
